# Set default behavior to automatically handle line endings and enforce LF
* text=auto eol=lf

# Explicitly declare text files you want to always be normalized and converted to LF on checkout
*.ts text eol=lf
*.tsx text eol=lf
*.js text eol=lf
*.jsx text eol=lf
*.json text eol=lf
*.css text eol=lf
*.html text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.rules text eol=lf

# Declare binary files to avoid corruption
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text
